body {
    margin: 20px;
    background: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: black;
    color: #fff;
    border-bottom: 6px solid #333;
        
   
}


